doctype 5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Cozy CalDAV Server
    script(src='jquery-1.8.2.js')
    script(src='spin.min.js')
    script(src='client.js')
    script(src='app.js')
    link(rel='stylesheet', href='app.css')
    link(rel='icon', type='image/x-icon', href='/favicon.png')
  body
    #content
      h1  Cozy CalDAV/CardDAV Server

      h2  Credentials
      p Use the following credentials when prompted by your CalDAV/CardDAV client
      p
        | login:&nbsp;
        span#login-span #{login}
      p
        | password:&nbsp;
        span#password-span #{password}

      button#generate-btn Reset Credentials

      h2 URLs
      p The url to connect to your server depends on your client

      h3 Thunderbird/Lightning
      p
        strong CalDAV
        | Use the following url :
        | https://#{domain}/public/webdav/calendars/me/my-calendar/
        <br />
        strong CardDAV
        | There is no support for carddav

      h3 iOS
      p
        strong CalDAV / CardDAV
        | In the "Account url" field :
        | https://#{domain}/public/webdav/principals/me/

      h3 Android
      p
        | Android does not support CalDAV/CardDAV natively, you will need
        | to install an app to manage it. We are still working on it.

      h3 Other ?
      p
        | If you use another client and made it work or are exprimenting
        | problems, please let us know about it&nbsp;
        a(href="https://github.com/mycozycloud/cozy-webdav/issues") on github.

