doctype 5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Cozy CalDAV Server
    script(src='jquery-1.8.2.js')
    script(src='spin.min.js')
    script(src='client.js')
    script(src='app.js')
    link(rel='stylesheet', href='app.css')
    link(rel='icon', type='image/x-icon', href='/favicon.png')
  body
    #content
      h1  Cozy CalDAV/CardDAV Server

      h2 DAV Server URL
      p
          | Simply connect your client application to the following URL:
          | <br />
          | https://#{domain}/public/webdav/
          | <br />

      h2 CalDAV direct URL
      p
          | Some CalDAV clients such as Thunderbird/Lightning
          | require you to enter the calendar's direct URL :
          | <br />
          | https://#{domain}/public/webdav/calendars/me/my-calendar/

      h2  Credentials
      p Use the following credentials when prompted by your CalDAV/CardDAV client
      p
        | login:
        span#login-span #{login}
      p
        | password:
        span#password-span #{password}

      button#generate-btn Reset Credentials
