doctype html
html(lang="de")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Cozy - Sync
    link(rel="stylesheet", href="stylesheets/app.css")
    link(rel="icon", type="image/x-icon", href="favicon.ico")
    link(rel="icon", type="image/png", href="favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="favicon-32x32.png", sizes="32x32")

  body
    #content

      .content-block
        h1 WebDAV: CalDAV und CardDAV
        p
          | WebDAV ist ein Standard Protokol das jedem Gerät (das es unterstützt)
          | Synchronisation mit den Kontakt, Kalender und Datei Informationen
          | des Cozy ermöglicht. So, wenn Sie möchten dass Ihr Smartphone
          | aktuell/gleich mit Ihrem Cozy gehalten wird, finden Sie folgend
          | Anweisungen zur Einrichtung der Synchronisation.

      .content-block
        h1 Server Anmeldeinformationen
        p
          | Bevor Sie weiter machen, müssen Sie bestimmte Anmeldeinformationen für Ihren
          | CalDAV Server festlegen (Ihre Smartphone Kalender Applikation sollte nicht
          | kompletten Zugriff auf Ihr Cozy bekommen). Hier sind die erforderlichen Anmelde-
          | Informationen für Ihren Client um synchronisiert zu werden.

        .url.credentials
          p
            | Benutzername :&nbsp;
            span#login-span #{login}
          p
            | Passwort :&nbsp;
            span#password-span
            button#show-password Anzeigen
            button#hide-password Verbergen

          button#generate-btn Passwort rücksetzen
        - var dDomain = (domain == '') ? 'ihre.cozy.url' : domain

      .content-block
        h1 CalDAV Konfiguration (Kalendar)
        p
          | Ihr Client wird nach einer URL zur Verbindung fragen, hier sind die
          | benötigten, abhängig von Ihrem Smartphone oder der Software.

        .content-tab
          .menu-tab
            h2.tab.caldav.selected(data-device="ios") iOS
            h2.tab.caldav(data-device="android") Android
            h2.tab.caldav(data-device="thunderbird") Thunderbird (Lightning)

          .caldavconf(data-device="ios")
            p
              | In das Feld "Server", eintragen:
            p#iosuri.url
              | #{dDomain}/public/sync/principals/me

          .caldavconf(data-device="android")
            p
              | Um Ihr Android Smartphone mit CalDAV zu synchronisieren, müssen Sie
              | eine entsprechende APP installieren. Die benötigte URL hängt von der App ab.
              | Aber Sie können es mit dieser Standard URL versuchen:
            p.url
              | https://#{dDomain}/public/sync/principals/me/

          .caldavconf(data-device="thunderbird")
            p
              | Wälen Sie einen Kalendar:&nbsp;
              select#calendar
                option#placeholder(value="") -
                - each c in calendars
                  option(value=encodeURIComponent(c))= c

            p
              | Dann benutzen Sie die folgende URL:
            p#thunderbirduri.url

      .content-block
        h1 CardDAV Konfiguration (Kontakte)
        p
          | Ihr Client wird nach einer URL zur Verbindung fragen, hier sind die
          | benötigten, abhängig von Ihrem Smartphone oder der Software.
        .content-tab
          .menu-tab
            h2.tab.carddav.selected(data-device="ios") iOS
            h2.tab.carddav(data-device="android") Android
            h2.tab.carddav(data-device="thunderbird") Thunderbird (SOGo)

          .carddavconf(data-device="ios")
            p
              | In das Feld "Server", eintragen:
            p.url
              | #{dDomain}/public/sync

          .carddavconf(data-device="android")
            p
              | Um Ihr Android Smartphone mit CalDAV zu synchronisieren, müssen Sie
              | eine entsprechende APP installieren. Die benötigte URL hängt von der App ab.
              | Aber Sie können es mit dieser Standard URL versuchen:
            p.url
              | https://#{dDomain}/public/sync/principals/me/

          .carddavconf(data-device="thunderbird")
            p
              | Um Kontakte mit Thunderbird zu synchronisieren, müssen Sie das SOGo addon
              | installieren. Dann folgende URL benutzen:
            p.url
              | https://#{dDomain}/public/sync/addressbooks/me/all-contacts/

      .content-block
        h1 WebDAV Konfiguration (Dateien)
        p
          | Cozy unterstützt die Datei_Synchronisation via WebDAV nicht. Wir werden bald einen
          | anderen Weg dafür bereitstellen. Es wird auch "Offline" arbeiten unterstützen.

      .content-block
        h1 Problemlösung
        p
          | Wenn Sie einen anderen Client nutzen und Probleme auftreten,
          | bitte informieren Sie uns darüber it&nbsp;
          a(target="_blank", href="https://github.com/mycozycloud/cozy-webdav/issues") on Github!

    script.
      window.password = "#{password}";
    script(src="javascripts/vendor.js")
    script(src="javascripts/app.js", onload="require('initialize');")

