doctype 5
html(lang="en")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(http-equiv="content-type", content="text/html; charset=utf-8")
    title Cozy - WebDAV
    script(src='jquery-1.8.2.js')
    script(src='spin.min.js')
    script(src='client.js')
    script(src='app.js')
    link(rel='stylesheet', href='app.css')
    link(rel='icon', type='image/x-icon', href='/favicon.png')
  body
    #content

      h1 WebDAV: CalDAV and CardDAV
      p
        | WebDAV is a standard protocol that allows any device (that suppports
        | it) to get synchronized with the Contact, Calendar and Files
        | informations from your Cozy. So, if you want that your smartphone to
        | be kept up to date with your Cozy, you will find in the following,
        | the instructions to set this synchronization.

      h1 Server Credentials
      p
        | Before going further, you need to set specific credentials for your
        | CalDAV server (you calendar phone application should not be able to
        | access to your whole Cozy). Here are the credentials required for
        | your client to get synchronized

      .url.credentials
        p
          | login:&nbsp;
          span#login-span #{login}
        p
          | password:&nbsp;
          span#password-span #{password}

        button#generate-btn reset password

      h1 CalDAV configuration (Calendar)
      p
        | Your client will ask for an url on which to connect, here are the
        | required ones, depending on your phone or software.

      h2.tab.caldav.selected(data-device="ios") iOS
      h2.tab.caldav(data-device="android") Android
      h2.tab.caldav(data-device="thunderbird") Thunderbird (Lightning)

      .caldavconf(data-device="ios")
        p
          | In the "Server" field, type:
        p.url
          | #{domain}/public/webdav/principals/me

      .caldavconf(data-device="android")
        p
          | To sync your android phone with CalDAV, you have
          | to install a dedicated app. The required url depend of that app. But
          | you can try that one by default:
        p.url
          | https://#{domain}/public/webdav/principals/me/

      .caldavconf(data-device="thunderbird")
        p
          | Use the following url:
        p.url
          | https://#{domain}/public/webdav/calendars/me/my-calendar/


      h1 CardDAV configuration (Contacts)
      p
        | Your client will ask for an url on which to connect, here are the
        | required ones, depending on your phone or software.
      h2.tab.carddav.selected(data-device="ios") iOS
      h2.tab.carddav(data-device="android") Android

      .carddavconf(data-device="ios")
        p
          | In the "Server" field, type:
        p.url
          | #{domain}/public/webdav

      .carddavconf(data-device="android")
        p
          | To sync your android phone with CardDAV, you have
          | to install a dedicated app. The required url depend of your app. But
          | you can try that one by default:
        p.url
          | https://#{domain}/public/webdav/principals/me/

      h1 WebDAV configuration (Files)
      p
        | Cozy doesn't support file synchronization through WebDAV. We will
        | provide soon another way to do it. It will support offline working
        | too.

      h1 Trouble Shootings
      p
        | If you use another client and are exprimenting
        | problems, please let us know about it&nbsp;
        a(target="_blank", href="https://github.com/mycozycloud/cozy-webdav/issues") on Github!


